body{
    color:#1421d6;
    background-color:rgb(223, 185, 185);
    text-align:center;
}
img{
    max-height:300pxpx;
    max-width:300px;
    border-radius:10px;
}
article{
    margin-top:20px;
    width:250px;
    background-color:cornsilk;
    margin-left:auto;
    margin-right:auto;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.473);
    padding:20px;
    border-radius:20px;
    color:black;
    font-size:20px;
}